@import url("https://fonts.googleapis.com/css?family=Comfortaa|Righteous");

body {
  background: url(https://i.imgur.com/RL80F6X.jpg);
  background-size: cover;
  margin: 0;
  width: 100%;
  /* font-family: "Comfortaa", cursive; */
}

h1 {
  /*  font-family: "Righteous", cursive; */
  background: antiquewhite;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 1em;
  text-align: center;
}

.signIn {
  width: 400px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.userNameInfo,
.passwordInfo,
.loginBtn {
  margin: 5px;
}

.signUp {
}
nav {
  text-align: center;
}
a {
  color: orange;
  text-decoration: none;
  /* text-shadow: 1px 1px 1px black; */
  font-size: 1.5em;
  /* background: rgba(193, 235, 187, 0.9); */
}

a:hover {
  color: blue;
}
img {
  border: 2px solid gray;
  padding: 2px;
}
ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
li {
  list-style: none;
  width: auto;
  background-color: darkkhaki;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 10px;
}

li a {
  color: black;
}

input[type="text"] {
  padding: 0.3em;
}

input[type="submit"],
input[type="password"] {
  padding: 0.3em;
  color: black;
  /* background: mediumseagreen; */
  font-size: 1em;
}

input[type="submit"] {
  margin-bottom: 20px;
}

.logoutBtn {
  margin-left: 32px;
}

.bookContainer {
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  /* background-color: blue; */
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  padding-left: 5px;
}

.availability {
  font-size: 15px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.deleteButton,
.updateButton {
  padding-right: 5px;
}

.bookEdit,
.bookNew {
  width: 50%;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
}

.editFlow,
.newFlow {
  margin: 5px;
}

.editConfirm {
  text-align: left;
  padding: 10px;
}

.editConfirmContent {
  width: 50%;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
}

.editConfirmImage,
.editContent {
  padding: 20px;
  font-size: 20px;
}
